body
{
background-color: blue;
}
#lecteur-audio
{
	position:relative;
}
#controller-player
{
	position:relative;
	height:40px;
}
.cursor-pointer
{
	cursor: pointer;
}
#btn-back
{
	position:absolute;
	background: url('../img/lect-btn-back.png');
	background-repeat: no-repeat;
	width:30px;
	height:31px;
	opacity:0.8;
}
#btn-back:hover
{
	opacity:1;
}
#btn-play
{
	position:absolute;
	top:-1px;
	left:51px;
	background: url('../img/lect-btn-play.png');
	background-repeat: no-repeat;
	width:34px;
	height:33px;
	opacity:0.8;
}
#btn-play:hover
{
	opacity:1;
}
#btn-pause
{
	position:absolute;
	top:-1px;
	left:51px;
	background: url('../img/lect-btn-pause.png');
	background-repeat: no-repeat;
	width:34px;
	height:33px;
	display:none;
	opacity:0.8;
}
#btn-pause:hover
{
	opacity:1;
}
#btn-stop
{
	position:absolute;
	top:-1px;
	left:111px;
	background: url('../img/lect-btn-stop.png');
	background-repeat: no-repeat;
	width:34px;
	height:33px;
	opacity:0.8;
}
#btn-stop:hover
{
	opacity:1;
}
#btn-next
{
	position:absolute;
	left:165px;
	background: url('../img/lect-btn-next.png');
	background-repeat: no-repeat;
	width:30px;
	height:31px;
	opacity:0.8;
}
#btn-next:hover
{
	opacity:1;
}
img#photo-pochette
{
	width: 75px;
	height: 75px;
}
/*barre de progression*/
.ui-slider {
    position: relative;
    text-align: left;
    height: 20px;
    display: block;
}
.ui-slider-horizontal
{
	background:url('../img/ui-slider-horizontal.png');
	height: 9px;
	width:195px;
	z-index:1;
}
.ui-slider-horizontal a.ui-slider-handle
{
	position: absolute;
	margin-left:-5px;
	top:0px;
	background:url('../img/ui-slider-handle.png');
	height:10px;
	width:10px;
	z-index:3;
}
.ui-slider-range
{
	position: absolute;
	background: url('../img/ui-slider-range.png');
	height:7px;
	z-index:2;
}